<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 시</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body class="bg-white text-gray-800">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
    $(window).load(function () {
        $('body').sakura();
    });
    </script>
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-semibold text-center mb-6">당신의 오늘과 어울리는 시</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 content-container">
            <div class="border rounded-lg p-4 h-full">
                <div class="image-placeholder">
                    이미지
                </div>
            </div>
            <div class="border rounded-lg p-4 poem-container">
                <div>
                    <h2 class="text-xl font-semibold mb-4">생성된 시</h2>
                    <pre class="text-black-900 poem-font">{{ poem }}...</pre>
                </div>
            </div>
        </div>
        <div class="flex justify-center gap-4 mb-4">
            <button id="saveButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                이미지와 시 저장
            </button>
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded" onclick="window.location.href = '/';">
                메인으로 돌아가기
            </button>
        </div>
    </div>
    <script src="/static/js/sakura.js"></script>
</body>
</html>
