<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 시</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body class="bg-gray-100">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
    $(window).load(function () {
        $('body').sakura();
    });
    </script>
    <div class="min-h-screen flex items-center justify-center">
        <div class="max-w-lg mx-auto my-10 p-6 bg-white shadow-lg rounded-lg">
            <h2 class="text-2xl font-bold mb-4">#2. 문장 선택 페이지</h2>
            <div class="border-b-2 border-gray-200 mb-6 pb-4">
                <h3 class="text-xl mb-2">마음에 드는 구절은?</h3>
                <p class="text-gray-700">'{{ mood }}'를 바탕으로 문장을 만들었어요!</p>
                <p class="text-gray-700">마음에 드는 문장을 선택하면 해당 구절로 시를 생성해 드려요!</p>
            </div>
            <form id="sentenceForm" action="/submit_sentence" method="post">
                <div class="mb-4">
                    <div class="flex items-center mb-2">
                        <input id="sentence1" type="radio" name="sentence" value="{{ sentence[0] | e }}" class="form-radio mr-2" onchange="checkSelection()">
                        <label for="sentence1" class="text-gray-700">{{ sentence[0] }}</label>
                    </div>
                    <div class="flex items-center mb-2">
                        <input id="sentence2" type="radio" name="sentence" value="{{ sentence[1] | e }}" class="form-radio mr-2" onchange="checkSelection()">
                        <label for="sentence2" class="text-gray-700">{{ sentence[1] }}</label>
                    </div>
                    <div class="flex items-center mb-2">
                        <input id="sentence3" type="radio" name="sentence" value="{{ sentence[2] | e }}" class="form-radio mr-2" onchange="checkSelection()">
                        <label for="sentence3" class="text-gray-700">{{ sentence[2] }}</label>
                    </div>
                </div>
                <div class="flex justify-between">
                    <button id="reButton" type="button" class="px-4 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300 transition duration-300">다시 생성</button>
                    <div>
                        <button id="submitButton" type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-300 mr-2">선택완료</button>
                        <button type="button" class="px-4 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300 transition duration-300" onclick="window.location.href = '/';">뒤로가기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        // 라디오 버튼 선택 확인 
        function checkSelection() {
            const submitButton = document.getElementById('submitButton');
            const radios = document.forms['sentenceForm'].elements['sentence'];
            let isSelected = false;
            for(let i = 0; i < radios.length; i++) {
                if(radios[i].checked) isSelected = true;
            }
            submitButton.disabled = !isSelected; 
        }
        // 함수 초기 상태 확인
        document.addEventListener('DOMContentLoaded', checkSelection);

        function reGenerate() {
            fetch('/reGenerate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    mood: '{{ mood | tojson}}'
                })
            })
            .then(response => response.json())
            .then(data => {
                updateSentences(data.sentence);
            })
            .catch((error) => {
                console.error('Error:', error)
            });
        }

        function updateSentences(sentence) {
            for (let i = 0; i < sentence.length; i++) {
                document.getElementById(`sentence${i+1}`).value = sentence[i];
                document.querySelector(`label[for=sentence${i+1}]`).textContent = sentence[i];
            }
        }

        document.getElementById("reButton").addEventListener('click', reGenerate);
    </script>
    <script src="/static/js/sakura.js"></script>
</body>
</html>