<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">

    <title>오늘의 시</title>

    <style>
        body {
            font-family: 'Noto Sans KR', sans-serif;
        }

        #firstPage {
            display: block;
        }

        #secondPage {
            display: none; 
        }

        #thirdPage {
            display: none;
        }

    </style>

    <script>
    function submitEmotion() {
        var emotion = $('input[name="emotion"]:checked').val(); // 선택된 라디오 버튼 값 가져오기
        if(emotion) { // 선택된 감정이 있을 경우
            generateLine(emotion); // generateLine 함수 호출
        } else {
            // 감정이 선택되지 않았을 경우의 처리, 예: 알림 표시
            alert("감정을 선택해주세요.");
        }
    }

    function generateLine(emotion) {
        $.ajax({
                type: "POST",
                url: "/api/line",
                contentType: "application/json", // 요청의 Content-Type을 application/json으로 명시
                data: JSON.stringify({ 'emotion': emotion }), // 객체를 JSON 문자열로 변환
                success: function (response) {
                    lines = response.lines
                    showLine(lines)
                }
                })
    }

    function showLine(lines) {
        // firstPage를 숨깁니다.
        document.getElementById('firstPage').style.display = 'none';
        document.getElementById('secondPage').style.display = 'block';

        const lineOptions = document.getElementById('lineOptions');
        lines.forEach(function(line, index) {
            // 라디오 버튼과 라벨을 생성합니다.
            const radioButton = document.createElement('input');
            radioButton.setAttribute('type', 'radio');
            radioButton.setAttribute('class', 'form-radio');
            radioButton.setAttribute('name', 'line');
            radioButton.setAttribute('value', line);
            radioButton.setAttribute('id', 'line' + index);

            const label = document.createElement('label');
            label.setAttribute('class', 'inline-flex items-center mt-3');
            label.setAttribute('for', 'line' + index);

            const span = document.createElement('span');
            span.setAttribute('class', 'ml-2');
            span.textContent = line;

            // 라벨 안에 라디오 버튼과 텍스트를 추가합니다.
            label.appendChild(radioButton);
            label.appendChild(span);

            // 생성된 라벨을 폼에 추가합니다.
            lineOptions.appendChild(label);

            // 각 라디오 버튼 사이에 줄바꿈을 추가합니다.
            lineOptions.appendChild(document.createElement('br'));
        });
    }

    function submitLine() {
        var line = $('input[name="line"]:checked').val(); // 선택된 라디오 버튼 값 가져오기
        if(line) { // 선택된 구절이 있을 경우
            generatePoem(line); // generatePoem 함수 호출
        } else {
            // 구절이 선택되지 않았을 경우의 처리
            alert("구절을 선택해주세요.");
        }
    }

    function generatePoem(line) {
        $.ajax({
                type: "POST",
                url: "/api/poem",
                contentType: "application/json", // 요청의 Content-Type을 application/json으로 명시
                data: JSON.stringify({ 'line': line }), // 객체를 JSON 문자열로 변환
                success: function (response) {
                    poem = response.poem
                    showPoem(poem)
                }
                })
    }

    function showPoem(poem) {
        document.getElementById('secondPage').style.display = 'none';
        document.getElementById('thirdPage').style.display = 'block';
        
        var poemContentElement = document.getElementById('poemContent');
        poemContentElement.textContent = poem;
    }   

    </script>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <!-- #1 감정 선택 페이지 -->
        <div id="firstPage" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h1 class="block text-gray-700 text-xl font-bold mb-2">오늘의 기분은?</h1>
            <p class="text-gray-700 mb-4">오늘 하루 어떠셨나요? 오늘의 감정을 선택해 보세요!</p>
            <form id="emotionOptions">
                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input type="radio" class="form-radio" name="emotion" value="행복하다">
                        <span class="ml-2">행복하다</span>
                    </label>
                    <label class="inline-flex items-center ml-6">
                        <input type="radio" class="form-radio" name="emotion" value="슬프다">
                        <span class="ml-2">슬프다</span>
                    </label>
                    <label class="inline-flex items-center ml-6">
                        <input type="radio" class="form-radio" name="emotion" value="화나다">
                        <span class="ml-2">화나다</span>
                    </label>
                    <label class="inline-flex items-center ml-6">
                        <input type="radio" class="form-radio" name="emotion" value="지루하다">
                        <span class="ml-2">지루하다</span>
                    </label>
                    <label class="inline-flex items-center ml-6">
                        <input type="radio" class="form-radio" name="emotion" value="놀라다">
                        <span class="ml-2">놀라다</span>
                    </label>
                </div>
                <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="submitEmotion()">선택완료</button>
            </form>
        </div>

        <!-- #2 구절 선택 페이지 -->
        <div id="secondPage" class="hidden bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h1 class="block text-gray-700 text-xl font-bold mb-2">마음에 드는 구절은?</h1>
            <p class="text-gray-700 mb-4">마음에 드는 문장을 선택하면 해당 구절로 시를 생성해 드려요!</p>
            <div class="mb-4" id="lineOptions"></div>  
            <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="submitLine()">선택완료</button>
        </div>

        <!-- #3 시 생성 페이지 -->
        <div id="thirdPage" class="hidden bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h1 class="block text-gray-700 text-xl font-bold mb-2">당신의 오늘과 어울리는 시</h1>
            <div class="flex mb-4">
                <div class="w-1/2 mr-2">
                    <img src="https://via.placeholder.com/150" alt="이미지" class="rounded">
                </div>
                <div class="w-1/2 ml-2">
                    <p id=poemContent class="text-gray-700">생성된 시</p>
                </div>
            </div>
            <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-4">이미지와 시 저장</button>
        </div>
</body>
</html>